@import "tailwindcss";

body {
  font-family: var(--font-poppins);
}

main {
  width: 80%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.75rem;
}